@media (max-width: 1080px) {
    .judul h2 {
        font-size: 30px;
    }

    .form {
        width: 250px;
        padding: 50px;
    }

    h3 {
        font-size: 20px;
    }

    .input-box input {
        font-size: 11px;
    }

    .input-box label {
        font-size: 15px;
    }

    .input-box input::placeholder {
        font-size: 9px;
    }

    a.register {
        font-size: medium;
    }

    #submit {
        font-size: 13px;
        font-weight: 400;
    }

    .popup {
        width: 300px;
    }

    .popup h2 {
        font-size: 35px;
    }

    .popup h4 {
        font-size: 25px;
        font-weight: 300;
    }
}

@media (max-width: 450px) {
    .judul h2 {
        font-size: 25px;
    }

    .form {
        width: 200px;
        padding: 30px;
    }

    h3 {
        font-size: 15px;
    }

    .input-box input {
        font-size: 6px;
    }

    .input-box label {
        font-size: 10px;
    }

    .input-box input::placeholder {
        font-size: 4px;
    }

    a.register {
        font-size: small;
    }

    #submit {
        font-size: 8px;
        font-weight: 200;
    }

    .popup {
        width: 250px;
    }

    .popup h2 {
        font-size: 30px;
    }

    .popup h4 {
        font-size: 20px;
        font-weight: 100;
    }
}

#isi {
    color: #3C3D37;
    padding-bottom: 30px;
    align-items: center;
}

.judul h2 {
    font-size: 35px;
    color: white;
    text-align: center;
}



.form {
    background: linear-gradient(#D7D3BF, #ECEBDE, #C1BAA1);
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px white;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    align-content: center;
    margin: auto;
    color: #3C3D37;
}

h3 {
    font-size: 25px;
    color: #3C3D37;
    text-align: center;
}


.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #3C3D37;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #686D76;
    outline: none;
    background: transparent;
    cursor: text;
}

.input-box label {
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #3C3D37;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input::placeholder {
    color: #686D76;
    opacity: 50%;
    font-size: 14px;
}

input,
select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
}

input::placeholder,
select:invalid {
    color: rgba(238, 238, 238, 0.5);
}

#submit {
    width: 100%;
    border: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background-color: #ECEBDE;
    color: #3C3D37;
}

#submit:hover {
    background-color: white;
    color: black;
}

.popup {
    width: 400px;
    background-color: #ECEBDE;
    border-radius: 5px;
    box-shadow: 0px 0px 30px white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.5s, top 0.5s;
}

.open-popup {
    visibility: visible;
    top: 175%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    color: black;
    font-size: 40px;
    margin: 30px 0 10px;
}

.popup h4 {
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.popup a {
    width: 100%;
    margin-top: 50px;
    padding: 15px;
    background-color: #3C3D37;
    color: white;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 75%;
}

.popup a:hover {
    padding: 15px;
    background-color: #3C3D37;
    color: white;
    opacity: 100%;
}