body{
    font-family: 'Playfair Display';
}

main {
    color: #D9D9D9;
}

main a{
    text-decoration: none;
    color: #D9D9D9;
}
/* ngaturin wrappernya dulu */
.slider-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    /* fleksibel kontainer dgn bbrp elemn*/
    flex-direction: column;
    /* biar responsif*/
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 80%;
    margin: 0 auto;

}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    /* jadi ceritanya semua slide disembunyiin */

}

.slide.active {
    display: block;
    /* jadi siapa yang aktif, yang lagi diklik user bakal dimunculin */
}


/* mulai ke section ya */
.slide>section {
    border: 2px solid #555;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    width: 60%;
    display: flex;
    float: left;
    gap: 20px;
    animation: animasi 1s ease-in;
    /* animation-delay: 0.5s; */
    /* Tambahkan delay jika perlu */
    /* margin-top: 10px; */
}

@keyframes animasi {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.kotak-info {
    width: 50%;
    padding: 20px;
}

.kotak-info>p {
    font-size: smaller;
}

.kotak-info>h3 {
    font-size: 35px;
}

.kotak-info>h3:hover {
    background: linear-gradient(120deg, #91AC8F, #B2C9AD, #8EB486);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kotak-info>p:hover {
    color: #91AC8F;
}

.kotak-foto {
    width: 50%;
    margin: auto;
}

.kotak-foto img {
    width: 75%;
    background-color: #222;
    border: 5px solid #222;
    box-shadow: 0px 0px 10px white;
    object-fit: cover;
}


.video {
    /* position: absolute; */
    width: 75%;
    height: 40%;
    object-fit: cover;
    display: none;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.kotak-foto:hover .video {
    display: block;
    opacity: 2;
    z-index: 10;
    cursor: pointer;
    border: 5px solid white;
}

.kotak-foto:hover img {
    display: none;
}

.referensi {
    font-size: 12px;
}

/* button */
.rounded-button {
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    background-color: #557;
    color: white;
}

.rounded-button:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* aside */
.slide>aside {
    width: 30%;
    float: right;
    animation: animasi 1s ease-in;
    /* animation-delay: 0.5s; */
}

.slide>aside h3 {
    font-size: 16px;
}



.fact {
    border: 2px solid #555;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    font-size: 10px;
    padding: 10px;
}


/* prev dan next */
.prev,
.next {
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
    margin: 2%;
}


.prev {
    left: 0;
}

.next {
    right: 0;
}


.prev:hover,
.next:hover {
    background-color: #222;
    color: white;
    box-shadow: 1px 1px 3px white;
}



footer {
    background-color: darkgray;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
}